body{
	width:100vw;
	height:100vh;
}
header{
	width:100vw;
	height:50px;
	background:rgba(0,0,0,0.8);
}
header p{
	font-size:18px;
	float:right;
	color:#fff;
	line-height:50px;
}
article{
	width:500px;
	height:500px;
	background:rgba(255,255,255,0.8);
	margin:100px auto;
}
form{
	width:400px;
	height:400px;
}
label{
	font-size:20px;
}
#username,#password{
	display:block;
	margin:5px auto;
	width:350px;
}