body{
	width:100vw;
	height:100vh;
}
header{
	width:100vw;
	height:50px;
	background:#ff0000;
}
article{
	width:500px;
	height:500px;
	background:#fff;
	margin:200px auto;
}
form{
	height:300px;
}
#username,#password{
	display:block;
	width:300px;
}